<h1> Coffee Shops </h1>
  <ul class="coffee-shop-list">
    <% @coffee_shops.each do |shop| %>
      <li><%= link_to shop.name, shop %></li>
    <% end %>
  </ul>
<div class='form-link'>
  <p>Don't see your favorite Coffee Shop?</p>
  <%= link_to "Click here to add it!", new_coffee_shop_path %>
<div>
