$primary: #673a03;

.reviews {
  text-align: left;
}

.description {
  border: 3px solid $primary;
  padding: 1rem;
  margin: 0px 5rem;
  list-style-type: none;
}

.shop-image-container {
  width: 90%;
  margin: 2rem auto;
}

.shop-image-container img {
  width: 100%;
  height: auto;
}

.user-review-post {
  font-size: 0.9rem;
}
