$primary: #673a03;

.reviews {
  text-align: left;
}

.review-tile {
  border-bottom: 1px solid $primary;
  padding: 1rem 0rem;
  list-style-type: none;
}

.address {
  font-size: 15px;
}

.coffee-shop-description {
  font-weight: bold;
  margin: 2rem auto;
  text-align: center;
  font-size: 20px;
  width: 75%;
}

.shop-image-container {
  width: 90%;
  margin: 2rem auto;
}

.shop-image-container img {
  width: 100%;
  height: auto;
}

.user-review-post {
  font-size: 0.9rem;
}

.profile-pic-container {
  height: 50px;
  width: 50px;
  overflow: hidden;
  display: inline-block;
  object-fit: cover;
  margin-right: 0.5rem;
}

.profile-pic-container img {
  height: 50px;
  object-fit: cover;
}

.posted-user {
  display: inline-block;
  padding-bottom: 38px;
}
