$primary: #673a03;

.coffee-shop-name {
  color: $primary;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.reviews {
  text-align: left;
}

.description {
  border: 3px solid $primary;
  padding: 1rem;
  margin: 0px 5rem;
  list-style-type: none;
}

.shop-image-container {
  width: 90%;
  margin: 2rem auto;
}

.shop-image-container img {
  width: 100%;
  height: auto;
}

.user-review-post {
  font-size: 0.9rem;
}
