$primary: #673a03;
$secondary: #d5ad7eff;
$tertiary: #fcd5a6ff;

html,
body {
  background-color: $primary;
  overflow-x: hidden;
  margin: 0;
  color: $primary;
}

.content {
  max-width: 1000px;
  width: 80%;
  background-color: $tertiary;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  height: 100%;
  text-align: center;
  font-size: 1.2rem;
}
