$primary: #673a03;
$secondary: #d5ad7eff;
$tertiary: #fcd5a6ff;

.navbar {
  background-color: #d5ad7eff;
}

.top-bar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 > a {
  color: $primary;
  font-family: "Lobster", cursive;
}

ul.link-section {
  background-color: $secondary;
  list-style-type: none;
  margin: 0;
  padding: 1rem;
}

li > a {
  color: $primary;
}
